In [ ]:
# default_exp data_collection_linkedin

# data_collection_linkedin

> API details.

In [ ]:
#hide
# from nbdev.showdoc import *

In [ ]:
import re, time, requests
import pandas as pd
from parsel import Selector
import config

In [ ]:
def strip_html(data):
    p = re.compile(r'<.*?>')
    return p.sub('', data)

def get_criteria(criteria):    
    result = {Selector(item).css("h3::text").get():Selector(item).css("span::text").getall() for item in criteria}
    return result

def get_job_detail(job_url):
    """
    This function parse a job url and return job detailed information
    """
    selector = Selector(requests.get(job_url).text)
    # Get job title, company url, and published date
    top_card_css = 'div[class*="topcard__content-left"]'
    title = selector.css(top_card_css).xpath('./h1/text()').get()
    company_url = selector.css(top_card_css).xpath('./h3/span/a/@href').get()
    published = selector.css(top_card_css).xpath('./h3/span/text()').getall()[-1]
    # Get job description
    desc = selector.css('div[class*="description__text"]').get()
    desc = strip_html(desc)
    # Get job criteria
    criteria = selector.css('ul[class*="job-criteria__list"]').xpath("li").getall()
    criteria = get_criteria(criteria)
    return (title, company_url, published, desc, criteria)

In [ ]:
jobs_df = pd.read_csv(config.FILE_JOBLIST_LK)
jobs_df.shape

(116, 4)

In [ ]:
jobs_df

,id,title,published,url
0,aPHC93d%2BXlFlVCuvrJ27%2BQ%3D%3D,Data Scientist,2021-04-26,https://au.linkedin.com/jobs/view/data-scienti...
1,yK3F336PB8x2bY7Wm2HhiA%3D%3D,Data Scientist / Data Analyst,2021-04-27,https://au.linkedin.com/jobs/view/data-scienti...
2,3jG0jasJadd5meZ0yl9qRg%3D%3D,Senior Data Scientist,2021-04-27,https://au.linkedin.com/jobs/view/senior-data-...
3,LhiS6iR1f%2F1aZyDC3jAEGg%3D%3D,Data Scientist,2021-04-28,https://au.linkedin.com/jobs/view/data-scienti...
4,tJyCFfHmaFiZq7JOb9%2B9Zw%3D%3D,"Data Scientist, Product Analytics",2021-04-28,https://au.linkedin.com/jobs/view/data-scienti...
...,...,...,...,...
111,MTnzGXUpHVI2Rw140b5OxQ%3D%3D,"Staff Software Engineer (Bangkok based, reloca...",2021-04-25,https://au.linkedin.com/jobs/view/staff-softwa...
112,YJ6%2Fej%2FD91lcTgUNQBOTGA%3D%3D,Software Engineer,2021-04-30,https://au.linkedin.com/jobs/view/software-eng...
113,5elnB4QX1d8n8l66VpkBNA%3D%3D,Senior Data Engineer,2021-04-28,https://au.linkedin.com/jobs/view/senior-data-...
114,l6GXqkCVvK9QxleKFZZ6kg%3D%3D,Software Engineer,2021-04-30,https://au.linkedin.com/jobs/view/software-eng...
115,81lNkY%2Bh%2F9Vejkcv5bpNDA%3D%3D,Data Engineer - AWS,2021-04-29,https://au.linkedin.com/jobs/view/data-enginee...

In [ ]:
# TESTING
url = "https://www.linkedin.com/jobs/view/lead-researcher-jira-work-management-at-atlassian-2469567032/?trackingId=DTQQrEPqTTdVIHYgcOaGgg%3D%3D&refId=CGhTPUgib1AcmehqhqVpoQ%3D%3D&pageNum=0&position=1&trk=public_jobs_jserp-result_search-card&originalSubdomain=au"
# url = "https://www.linkedin.com/jobs/view/data-engineer-at-cognizant-2468097762/?trackingId=NWeq80InF5kcgcQwUwXktA%3D%3D&refId=CGhTPUgib1AcmehqhqVpoQ%3D%3D&pageNum=0&position=2&trk=public_jobs_jserp-result_search-card&originalSubdomain=au"
# get_job_detail(url)